spring:
  profiles:
    active: local
  
  datasource:
    url: jdbc:postgresql://localhost:5432/commit-whisper
    username: postgres
    password: rlawlstn
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.orm.jdbc.bind: TRACE

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:}
            client-secret: ${GOOGLE_CLIENT_SECRET:}
            scope:
              - profile
              - email
          github:
            client-id: ${GITHUB_CLIENT_ID:}
            client-secret: ${GITHUB_CLIENT_SECRET:}
            scope:
              - user:email
              - read:user

python:
  script:
    path: scripts/commit_summarizer.py
  executable: python

openai:
  api:
    key: ${OPENAI_API_KEY:}
  mock:
    enabled: false

slack:
  webhook:
    url: ${SLACK_WEBHOOK_URL:}